@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-header-text {
    @apply text-primary text-3xl text-center font-extrabold mb-7  lg:text-5xl;
  }

  .you-learn-items {
    @apply px-4 py-2 my-4 text-white text-center font-medium leading-5 md:text-lg  lg:text-2xl lg:leading-10;
  }
}
